.room-img {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.room-details-left,
.room-details-right {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.room-details {
    margin-top: 20px;
}
